@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

* { padding:0;
margin:0;
text-decoration:none;
list-style:none;
box-sizzing:border-box;
font-family:Arial;
}

nav{
background:#0082e6;
height:80px;
width:100%;
}

.logo {
color:white;
font-size:35px;
line-height:80px;
padding: 0 100px;
font-weight:bold;
  padding: 1em;
    border: 0px solid #777;
}

nav ul {
float:right;
margin:20px;
}

nav ul li {
display:inline-block;
line-height:80px;
margin:0 5px;
}

nav ul li a{
color:white;
font-size:17px;
padding:7px 13px;
border-radius:3px;
text-transform:uppercase;
}

 a:hover{
  transition: 0.5s ease;
  background:orange;
transition:1s;
  
}

.material-icons{ padding:0;
  margin:0;}

.apartados{width:150px;
height:100px;
background-color:tomato;
padding:10px;
font-weight:bold;
border-radius:10px;
margin:25px}

body{
  background-color:black;
}

.uno{font-size:50px;
color:#ffb503;
border:3px dotted orange}

.dos{font-size:30px;
color:#F03116;}

.tres{border:3px solid black;
background-color:white;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;}

.cuatro{color:#ffb503;}

.cinco{font-size:30px;
color:#F03116;}

.seis{border:3px solid black;
background-color:cyan;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;}

.siete{border:3px dotted orange;
background-color:orange;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;}

.ocho{border:3px dotted orange;
background-color:limegreen;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;}

.nueve{border:3px dotted orange;
background-color:#FF6852;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;}

.diez{font-size:30px;
color:#F03116;}

.once{color:#F03116;}

.doce{color:whitesmoke;}

.trece{border:3px solid black;
background-color:white;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
width:35%}

.catorce{border:3px solid black;
background-color:white;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
width:6%}

.enlace{
  font-size:30px;
color:yellow;
margin-left:40%}

.formulario{margin-top
  border:3px solid black;
background-color:orange;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
background-image:url("https://images.unsplash.com/photo-1588432892836-99b9aa3feb8a?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MDIzOTQ2NjN8&ixlib=rb-4.0.3&q=85");
  background-position:500px 30px;
  background-repeat: no-repeat;
  background-size: 400px 300px
}